*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    
}

.container{
    height: 100%    ;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}

.Bground{
    transform: translateZ(-40px) scale(5.5);
    
}

.forGround{
    transform: translateZ(-20px) scale(2.5);
    
}

.container h1{
    position: absolute;
    top: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: antiquewhite;
    text-shadow: 2px 7px 3px #000000;
}


.Bground , .forGround{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    
}

section{
    background-color:   rgb(0, 0, 0);
    color: white;
    padding: 5rem 0;
}

.sechading{
    font-size: 4rem;
    padding:0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin:5rem 0;
     
}

.bgg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.disc{
    position: absolute;
    background-color: white;
    color: #000300;
    padding:0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    
}

.bg1{
    
    background-image: url(eye7520.jpg);
}

.bg2{
    background-image: url(marse1.jpg);
}

.bg3{
    background-image: url(img3.jpg);
}

footer{
   
    background-color: #000000;
    color: white;
    text-align: center;
}

